In [1]:
!pip install pyspark==3.0.1 py4j==0.10.9

Collecting pyspark==3.0.1
  Downloading pyspark-3.0.1.tar.gz (204.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 204.2/204.2 MB 6.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 21.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612224 sha256=68ac7b90e4a6e37f6b64e6b03bb9c78a9e09ca311ca6f64eeb5d556d6192bc82
  Stored in directory: /root/.cache/pip/wheels/19/b0/c8/6cb894117070e130fc44352c2a13f15b6c27e440d04a84fb48
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [2]:
!ls -tl

total 4
drwxr-xr-x 1 root root 4096 Nov 13 14:20 sample_data

In [13]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local[*]")\
        .appName('pyspark_tutorial')\
        .getOrCreate()

In [9]:
spark

python list > RDD

In [10]:
name_list_json = {
    '{"name":"hajun"}',
    '{"name":"a"}',
    '{"name":"b"}'
}

In [14]:
rdd = spark.sparkContext.parallelize(name_list_json)

In [15]:
 rdd.count()

3

In [16]:
import json
parsed_rdd = rdd.map(lambda el: json.loads(el))

In [17]:
parsed_rdd

PythonRDD[3] at RDD at PythonRDD.scala:53

In [18]:
parsed_rdd.collect()

[{'name': 'a'}, {'name': 'b'}, {'name': 'hajun'}]

In [19]:
parsed_name_rdd = rdd.map(lambda el: json.loads(el)['name'])

In [20]:
parsed_name_rdd.collect()

['a', 'b', 'hajun']

파이썬 리스트 > 데이터 프레임

In [21]:
from pyspark.sql.types import StringType
df = spark.createDataFrame(name_list_json, StringType())

In [22]:
df.count()

3

In [23]:
df.printSchema()

root
 |-- value: string (nullable = true)

In [26]:
df.select('*').collect()

[Row(value='{"name":"a"}'),
 Row(value='{"name":"b"}'),
 Row(value='{"name":"hajun"}')]

In [28]:
df.select('value').collect()

[Row(value='{"name":"a"}'),
 Row(value='{"name":"b"}'),
 Row(value='{"name":"hajun"}')]

In [29]:
from pyspark.sql import Row

row = Row('name')
df_name = parsed_name_rdd.map(row).toDF()

In [30]:
df_name.select('name').collect()

[Row(name='a'), Row(name='b'), Row(name='hajun')]